<div class="hero-area hero-bg responsive-center responsive-list-geral">
  <div class="container d-flex justify-content-center">
    <div class="row">
      <div class="col-lg-9 offset-lg-2 text-center">
        <div class="hero-text">
          <div class="hero-text-tablecell">



            <div class="card-deck responsive-list-div">
              <div
                class="card bg-dark"
                style="width: 18rem;"
                *ngFor="let product of arrayOfProducts$ | async"
              >
                <img
                  width="200px"
                  height="200px"
                  class="card-img-top"
                  src="{{ product.image }}"
                  alt="Card image cap"
                >
                <div class="card-body">
                  <h5 class="card-title">{{ product.name }}</h5>
                  <p class="card-text"></p>
                  <h6>{{ product.description }}</h6>
                  <input
                    class="btn btn-primary"
                    (click)="productProfile(product.id)"
                    value="Detalhes"
                    type="submit"
                  >
                </div>
              </div>


            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>