<div class="hero-area hero-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 offset-lg-2 text-center">
        <div class="hero-text">
          <div class="hero-text-tablecell">
            <div class="container">
              <form [formGroup]="contactForm">
                <label for="fname">Nome</label>
                <input
                  type="text"
                  id="fname"
                  name="firstname"
                  placeholder="O teu nome aqui..."
                  formControlName="name"
                >
                <br>
                <label for="subject">Mensagem</label>
                <textarea
                  id="subject"
                  name="subject"
                  placeholder="O que nos queres dizer?"
                  style="height:200px"
                  formControlName="message"
                ></textarea>
                <br>
                <input
                  type="submit"
                  value="Enviar"
                  (click)="sendMessage()"
                >
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>