<div class="hero-area hero-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 offset-lg-2 text-center">
        <div class="hero-text">
          <div class="hero-text-tablecell">
            <p class="subtitle">Arte Independente Portuguesa</p>
            <h1>Mercadinho da Portugarte</h1>
            <div class="hero-btns">
              <a
                href="shop.html"
                class="boxed-btn"
              >Conhece a nossa loja</a>
              <a
                href="contact.html"
                class="bordered-btn"
              >Escreve-nos</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>