<div class="hero-area hero-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 offset-lg-2 text-center">
        <div class="hero-text">
          <div class="hero-text-tablecell">
            <p class="subtitle">Arte Independente Portuguesa</p>
            <h1>Mercadinho da Portugarte</h1>
            <div class="hero-btns">
              <a
                class="boxed-btn"
                routerLink="mercadinho"
              >
                <h6>Conhece a nossa loja</h6>
              </a>
              <a
                class="bordered-btn"
                routerLink="contact"
              >
                <h6>Escreve-nos</h6>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>