<div class="hero-area hero-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 offset-lg-2 text-center">
        <div class="hero-text">
          <div class="hero-text-tablecell">


            <form
              [formGroup]="loginForm"
              (ngSubmit)="login()"
            >
              <div
                class="form-group"
                *ngIf="!isLogged"
              >
                <label for="exampleInputEmail1">
                  <h3>Email ou Username</h3>
                </label>
                <input
                  formControlName="username"
                  type="email"
                  class="form-control"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                  placeholder="Enter email"
                >
              </div>
              <div
                class="form-group"
                *ngIf="!isLogged"
              >
                <label for="exampleInputPassword1">
                  <h3>Password</h3>
                </label>
                <input
                  formControlName="password"
                  type="password"
                  class="form-control"
                  id="exampleInputPassword1"
                  placeholder="Password"
                >
              </div>
              <input
                *ngIf="!isLogged"
                type="submit"
                class="btn btn-primary"
                value="Entrar"
              >
            </form>
            <p></p>
            <p></p>
            <input
              *ngIf="isLogged"
              type="submit"
              (click)="logout()"
              class="btn btn-primary"
              value="Logout"
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>