<div class="footer-div">
  <div class="footer-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="footer-box about-widget">
            <h2 class="widget-title">Sobre a Portugarte</h2>
            <p>Somos uma Associação Cultural que tem por fim promover a arte independente em Portugal.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="footer-box get-in-touch">
            <h2 class="widget-title">Contacta-nos</h2>
            <ul>
              <li>Açores, Porto e Castelo Branco.</li>
              <li>info@portugarte.pt</li>
              <li>+351 912 831 730</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="footer-box pages">
            <h2 class="widget-title">Secções</h2>
            <ul>
              <li><a routerLink="/">Início</a></li>
              <li><a routerLink="login">Login</a></li>
              <li><a routerLink="register">Registar</a></li>
              <li><a routerLink="mercadinho">Mercadinho</a></li>
              <li><a routerLink="contact">Contacto</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="footer-box subscribe">
            <h2 class="widget-title">Subscreve</h2>
            <p>Subscreve à nossa mailing list para receberes as últimas novidades.</p>
            <form action="index.html">
              <input
                type="email"
                placeholder="Email"
              >
              <button
                type="submit"
                (click)="mailingList()"
              ><i class="fas fa-paper-plane"></i></button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end footer -->

  <!-- copyright -->
  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <p>Copyright &copy; 2022 <a href="https://www.portugarte.pt/">Portugarte</a> Todos os direitos reservados.
          </p>
        </div>
        <div class="col-lg-6 text-right col-md-12">
          <div class="social-icons">
            <ul>
              <li><a
                  href="https://www.facebook.com/portugarte"
                  target="_blank"
                ><i class="fab fa-facebook-f"></i></a></li>
              <li><a
                  href="https://www.twitter.com/portugarte"
                  target="_blank"
                ><i class="fab fa-twitter"></i></a></li>
              <li><a
                  href="https://www.instagram.com/portugarte"
                  target="_blank"
                ><i class="fab fa-instagram"></i></a></li>
              <li><a
                  href="https://www.reddit.com/r/portugarte/"
                  target="_blank"
                ><i class="fab fa-reddit"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>