<div class="hero-area hero-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 offset-lg-2 text-center">
        <div class="hero-text">
          <div class="hero-text-tablecell">

            <div class="card-deck">
              <div
                class="card bg-dark"
                *ngFor="let basketItem of shoppingCart$ | async"
              >
                <div class="card-header">
                  <h3>{{ basketItem.name}}</h3>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Quantidade: {{ basketItem.amount}}</h5>
                  <p class="card-text"></p>
                  <h5>Preço: {{ basketItem.price }} $</h5>
                  <input
                    type="number"
                    value="{{ basketItem.amount}}"
                    #amount
                  >
                  <p></p>
                  <button
                    type="button"
                    class="btn btn-warning btn-block"
                    (click)="updateShoppingCartItemAmount(basketItem.id, amount.value)"
                  >
                    <h6>Editar quantidade de items</h6>
                  </button>
                  <p></p>
                  <button
                    type="button"
                    class="btn btn-danger btn-block"
                    (click)="deleteItemFromShoppingCart(basketItem.id)"
                  >
                    <h6>Apagar item do carrinho</h6>
                  </button>
                </div>
                <hr>
              </div>
            </div>
            <p></p>
            <input
              type="button"
              routerLink="/paypal"
              type="submit"
              value="Finalizar compra"
            >
          </div>
        </div>

      </div>
    </div>
  </div>
</div>