<div class="hero-area hero-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 offset-lg-2 text-center">
        <div class="hero-text">
          <div class="hero-text-tablecell">
            <div class="container shopping-cart-container">
              <h2>Products on the Shopping Cart:</h2>
              <div *ngFor="let basketItem of updatedShoppingCart$ | async">
                <hr>
                <strong>Produto: </strong>{{ basketItem.name}}
                <br>
                <strong>Quantidade: </strong>{{ basketItem.amount}}
                <br>
                <strong>Preço: </strong>{{ basketItem.price }} $
                <p></p>
                <input
                  type="number"
                  value="{{ basketItem.amount}}"
                  #amount
                ><button
                  type="button"
                  class="btn btn-warning"
                  (click)="updateShoppingCartItemAmount(basketItem.id, amount.value)"
                >Editar quantidade de items</button>
                <p></p>
                <button
                  type="button"
                  class="btn btn-danger"
                  (click)="deleteItemFromShoppingCart(basketItem.id)"
                >Delete Item</button>
                <button
                  type="button"
                  routerLink="/checkout"
                >Checkout</button>
              </div>
              <hr>
            </div>

            <button
              type="button"
              (click)="resetBasketItem()"
            >Limpar Carrinho</button>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>