<div class="hero-area hero-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 offset-lg-2 text-center">
        <div class="hero-text responsive-register-div">
          <div class="hero-text-tablecell ">
            <form
              [formGroup]="productForm"
              (ngSubmit)="submit()"
            >
              <div class="form-group">
                <label for="name">
                  <h3>Username</h3>
                </label>
                <input
                  type="text"
                  formControlName="username"
                  name="username"
                  class="form-control"
                >
              </div>
              <div class="form-group">
                <label for="name">
                  <h3>E-mail</h3>
                </label>
                <input
                  type="text"
                  formControlName="email"
                  name="email"
                  class="form-control"
                >
              </div>
              <div class="form-group">
                <label for="zipcode">
                  <h3>Password</h3>
                </label>
                <input
                  type="text"
                  name="password1"
                  formControlName="password1"
                  class="form-control"
                >
              </div>
              <div class="form-group">
                <label for="telephone">
                  <h3>Password (confirmar)</h3>
                </label>
                <input
                  type="text"
                  name="password2"
                  formControlName="password2"
                  class="form-control"
                >
              </div>
              <input
                type="submit"
                class="btn btn-primary"
                value="Registar utilizador"
              >
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>