<div class="container d-flex flex-wrap product-div">
  <div class="thumbnail" *ngIf="product$ | async; let product">
    <div class="image-div"><img src="{{urlServer}}{{ product.image }}" alt=""></div>
    <div class="title-div">Titulo: {{ product.name }}</div>
    <div class="price-div">Preço: {{ product.price }}</div>
    <div class="description-div">Descrição: {{ product.description }}</div>
    <button type="button" class="btn btn-primary">Comprar</button>
    <button type="button" class="btn btn-secondary" (click)="addProductToShoppingCart(product.id, product.price)">Adicionar ao carrinho</button>
    <button type="button" routerLink="/checkout">Checkout</button>
  </div>
</div>

<hr>
