<div class="hero-area hero-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 offset-lg-2 text-center">
        <div class="hero-text">
          <div class="hero-text-tablecell">
            <div
              class="thumbnail"
              *ngIf="product$ | async; let product"
            >
              <div class="card text-center bg-dark">
                <div class="card-header">
                  <h3>{{ product.name }}</h3>
                </div>
                <div class="card-body">
                  <img
                    src="{{ product.image }}"
                    alt=""
                  >
                  <p class="card-text"></p>
                  <h5>{{ product.description }}</h5>
                  <button
                    *ngIf="isLogged"
                    type="button"
                    class="btn btn-secondary btn-block"
                    (click)="addProductToShoppingCart(product.id, product.price)"
                  >
                    <h6>Adicionar ao carrinho</h6>
                  </button>
                  <p></p>
                  <button
                    *ngIf="isLogged"
                    type="button"
                    (click)="navigateToShoppingCart()"
                    class="btn btn-danger btn-block"
                  >
                    <h6>Ver carrinho</h6>
                  </button>
                  <p></p>
                  <button
                    *ngIf="isLogged"
                    type="button"
                    routerLink="/paypal"
                    class="btn btn-warning btn-block"
                  >
                    <h6>Checkout</h6>
                  </button>
                  <button
                    *ngIf="!isLogged"
                    routerLink="/login"
                  >
                    Queres comprar este item? Faz login ou regista-te!
                  </button>
                </div>
                <div class="card-footer text-muted">
                  <h6>Arte Independente Portuguesa</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>